body {
    max-width: 100%;
    background-color: #FFF;
}

/* width */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f2f2f2;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #640a92;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #640a92;
}


/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}

nav {
    background-color: rgb(25, 32, 39);
}

nav a {
    color: #640a92;
}

nav a:hover {
    color: #FC00FF;
}



.header-text {
    padding-right: 10%;
    margin: 10% 10% 10% 10%;
}

@media(max-width: 786px) {

    .img-top {
        width: 100%;
        margin-bottom: 15%;
    }

    .header-text .btn {
        margin-top: 5%;
        margin-bottom: 5%;
        background-color: #640a92;
        color: #fff;
    }
    
    .header-text .btn:hover {
        
        background-color: #640a92;
        color: #000;
    }

    .msi-img img{
        margin-bottom: 5%;
        width: 100%;
    }

   

    .container-partners {
        background-color: #FFF;
    }
    

    .brands {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
    
    
    
    .brands_slider_container {
        height: 147px;
         /*border: solid 1px #e8e8e8;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);*/
        width: 100%;
    }
    
    .brands_slider {
        height: 100%;
        
    }
    
    .brands_item {
        height: 100%;
    }
    
    .brands_item img {
        max-width: 100%;
    }
    
    .brands_nav {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        padding: 5px;
        cursor: pointer;
    }
    
    .brands_nav i {
        color: #e5e5e5;
        -webkit-transition: all 200ms ease;
        -moz-transition: all 200ms ease;
        -ms-transition: all 200ms ease;
        -o-transition: all 200ms ease;
        transition: all 200ms ease;
    }
    
    .brands_nav:hover i {
        color: #676767;
    }
    
    .brands_prev {
        left: 40px;
    }
    
    .brands_next {
        right: 40px;
    }
}

.header-text .btn {
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: #640a92;
    color: #fff;
}

.header-text .btn:hover {
    
    background-color: #640a92;
    color: #000;
}

.fa {
    text-decoration: none;
    color: #640a92;
    font-size: 50px;
}

.fa:hover {
    text-decoration: none;
    color: #FFF;
}

.top-section {
    width: 100%;
    height: 100%;
    background: url(https://cwsmgmt.corsair.com/hybris/tlc/cooling/TLC_liquid_coolers_H100i_banner_3.jpg) no-repeat 50% 50%;
    background-size: cover; 
}



.header-text {
    margin: auto;
    
}

.section-img {
    margin: 0 auto;
    
    width: 100%;
}

.section2-img {
    margin: 0% 0% 15% 0%;
    
    width: 100%;
}

.gallery-grid {
    padding: 5%;
}




.navbar-toggler {
    color: #640a92;
}


.about-image {
    width: 100%;
    margin: 15% 0% 0% 0%;

   


}

.about {
    margin: 15% 0% 15% 0%;
    width: 100%;
    height: 100%;
    background: url(../images/hero-3.jpg) no-repeat 50% 50%;
    background-size: cover;
}

.about-text {
    margin: 10% 0% 10% 0%;
    font-size: 14px;
}




.about-text .btn {
    
    width: 40%;
    margin-top: 10%;
margin-bottom: 10%;
    background-color: #640a92;
    color: #fff;
}

.about-text .btn:hover {
    
    width: 45%;
    background-color: #640a92;
    color: #000;
}

.container-fluid {
    background: #f9f9f9;
}

.flex-column {
    max-width: 420px;
}

img {
    margin: 5px;
}

.scale {
    transform: scaleY(1.05);
    padding-top: 5px; 
}

.content {
    width: 94%;
    margin: 4em auto;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}




  #inspired p {
    width: 90%;
    margin: 0 auto;
    max-width: 700px;
  }
 
  
  #brilliance .container {
    min-height: 90vh;
  }
  @media screen and (max-width: 960px) {
    #brilliance .container {
      min-height: 50vh;
    }
  }
  
  



.container-partners {
    background-color: #FFF;
}

.brands {
    width: 100%;
    background-color: #FFF;
    padding: 0% 5%;
}



.brands_slider_container {
    height: 147px;
    /*border: solid 1px #e8e8e8;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);*/
    width: 100%;
    background-color: #FFF;
}

.brands_slider {
    height: 100%;
    
}

.brands_item {
    height: 100%;
}

.brands_item img {
    max-width: 100%;
}

.brands_nav {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 5px;
    cursor: pointer;
}

.brands_nav i {
    color: #e5e5e5;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.brands_nav:hover i {
    color: #676767;
}

.brands_prev {
    left: 40px;
}

.brands_next {
    right: 40px;
}


.go_top span {
    display: inline-block
}

.footer {
    text-decoration: none;
    list-style: none;
}

 li {
   
    list-style: none;
}

.footer-big {
    padding: 105px 0 65px 0
}

.footer-big .footer-widget {
    margin-bottom: 40px
}

.footer--light {
    background: #e7e8ed
}

.footer-big .footer-menu ul li a,
.footer-big p,
.footer-big ul li {
    color: #898b96
}

.footer-menu {
    padding-left: 48px
}

.footer-menu ul li a {
    font-size: 15px;
    line-height: 32px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    list-style: none;
}

.footer-menu ul li a:hover {
    color: rgb(255, 0, 157);
    text-decoration: none;
}

.footer-menu--1 {
    width: 100%
}

.footer-widget-title {
    line-height: 42px;
    margin-bottom: 10px;
    font-size: 18px
}

.mini-footer {
    background: #192027;
    text-align: center;
    padding: 32px 0
}

.mini-footer p {
    margin: 0;
    line-height: 26px;
    font-size: 15px;
    color: #999
}

.mini-footer p a {
    color: rgb(255, 0, 157);
    text-decoration: none;
}

.mini-footer p a:hover {
    color: #34bfa3;
    text-decoration: none;
}

.widget-about img {
    display: block;
    margin-bottom: 30px
}

.widget-about p {
    font-weight: 400
}

.widget-about .contact-details {
    margin: 30px 0 0 0
}

.widget-about .contact-details li {
    margin-bottom: 10px
}

.widget-about .contact-details li:last-child {
    margin-bottom: 0
}

.widget-about .contact-details li span {
    padding-right: 12px
}

.widget-about .contact-details li a {
    color: rgb(255, 0, 157);
    text-decoration: none;
}

.widget-about .contact-details li a:hover {
    color: #34bfa3;
    text-decoration: none;
}


@media (max-width:991px) {
    .footer-menu {
        padding-left: 0
    }
}

.contact-options p {
    color: #640a92;
    font-weight: bold;
}

.contact-options p:hover {
    color: rgb(255, 0, 157);
    font-weight: bold;
}


.gallery .pics:hover {
    opacity: 0.7;
}

.gallery p {
    color: #fff;
    font-size: 20px;
}



.gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%;
}

.gallery .pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
}

.gallery .animation {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

@media (max-width: 450px) {
    .gallery {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-width: 100%;
        -moz-column-width: 100%;
        column-width: 100%;
    }
}

.fa-user:hover {
    color: #640a92;
}

.fa-shopping-cart:hover {
    color: #640a92;
}


.bottom-video {
  
  max-width: 100%;
}






.header-text {
    margin: 11% 0% 11% 0%;
    color: #FFF;
    font-size: 20px;
}

.header {
    background: url(https://www.asus.com/websites/global/products/lHH4ANv2R5SNKLJd/img/kv/COOLING.jpg) no-repeat 50% 50%;
    background-size: cover; 
}

.delivery-text {
    margin: 11% 0% 11% 0%;
    color: #FFF;
    font-size: 20px;
}

.delivery {
    background: url(https://storage-asset.msi.com/global/picture/image/feature/AIO/Monitor/Optix-MPG341CQR/block4-1_mouse_bungee_new.jpg) no-repeat 50% 50%;
    background-size: cover; 
}

.delivery-text .btn {
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: #640a92;
    color: #fff;
}

.delivery-text .btn:hover {
    
    background-color: #640a92;
    color: #000;
}

.pricing-text {
    margin: 11% 0% 11% 0%;
    color: #FFF;
    font-size: 20px;
}

.pricing {
    background: url(https://storage-asset.msi.com/global/picture/features/VGA/RTX2080/2080-Gaming-x-trio/intro-design-bg.jpg) no-repeat 50% 50%;
    background-size: cover; 
}

.warranty-text {
    margin: 11% 0% 11% 0%;
    color: #FFF;
    font-size: 20px;
}

.warranty {
    background: url(https://www.asus.com/websites/global/products/6ZYZANfT5qz5QT3p/v1/features/images/large/2x/14_grade.jpg) no-repeat 50% 50%;
    background-size: cover; 
}