body {
  background-color: rgb(0,255,255);
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
    text-align: center;
    padding: 0;
    color: rgb(255,255,255);
    background-color: #005864;
    font-size: 0.75em;
    font-family: "Conv_Metropolis";
  }
  
  